doctype html 
html
    head
        meta(charset='utf-8')
        title URL shortener
        link(rel='stylesheet', type='text/css', href='/public/styles.css')
    body
        .container
            h1 URL shortener 

            form(action="/shorten" method="post")
                label Enter long link to shorten #[<br />]
                    input(type="text" placeholder="Enter link to shorten" name="url" class="input-link")
                br 
                input(type="submit" value="Shorten link")
            
            if shortened_links
                .results
                    h2 Shortened links
                    each linkk, idx in shortened_links
                        div 
                            span(class="bold") Original: 
                            a(href=linkk.link, target="_blank") #{linkk.link}
                        div 
                            span(class="bold") Shortened: 
                            a(href='/rd/' + linkk.id, data-id=idx, target="_blank" class="short-link") #{linkk.id}     
                            button(class="copy-button", data-id=idx) Copy to clipboard
            
            
        script(src="/public/script.js") 